@model Inventory.Models.InventoryItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>InventoryItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/inventory/item/create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryNumber" class="control-label"></label>
                <input asp-for="InventoryNumber" class="form-control" />
                <span asp-validation-for="InventoryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfRegistration" class="control-label"></label>
                <input asp-for="DateOfRegistration" class="form-control" />
                <span asp-validation-for="DateOfRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LifeTime" class="control-label"></label>
                <input asp-for="LifeTime" class="form-control" />
                <span asp-validation-for="LifeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="InventorySheetId" class="control-label"></label>*@
                <input asp-for="InventorySheetId" type="hidden" class="form-control" value="@ViewBag.SheetId">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
