@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="project-title">
            Система инвентаризации
        </h2>
        <div class="project-description">
            <img class="img-responsive margin-auto-width" src="~/images/scan-code.jpg" />
            <div class="login-buttons">
                <ul class="">
                    <li><a asp-area="Identity" asp-page="/Account/Register" class="btn btn-warning">Регистрация</a></li>
                    <li><a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success">Авторизация</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
